<style>
.contact{
    height: 50px;
    width: 33%;
    background-color: #208FDD;
    opacity: 0.5;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
#top_nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.7);
    z-index: 9000;
}

#menu {
    position: absolute;
    right: 10px;
    top: 0;
}

#menu ul li {
    display: block;
    float: left;
    position:relative;
}

.menu_head{
    position: relative;
    width: 50px;
    height: 50px;
    background-size: contain;
    cursor: pointer;
}

.menu_head_a{
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu_head img{
    width: 100%;
    height: 100%;
}

#menu ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    white-space: nowrap;
}

#menu ul li ul {
    position:absolute;
    right: 0px;
    top:50px;
}

#menu ul li ul li {
    margin-top: 5px;
    float: right;
}

#menu ul li ul li a {
    background: #208FDD;
    padding: 10px 20px;
    background-image:none!important;
    border: 5px solid #004565;
    margin-right: -5px;
}

#menu ul li ul li a:hover {
    background-color: #ffcc00;
    color: #004565;
}

.submenu{
    display: none;
}

.open_submenu ul{
    display: block;
}

#logo{
    position: absolute;
    left: 10px;
    top: 5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#logo img{
    width: 100%;
    height: 100%;
}


#edit h2{
    margin-bottom: 10px;
}

#edit h3{
    margin-bottom: 5px;
}

.insert_radio{
    display: none;
}

.start_form_textarea_box{
    margin-bottom: 20px;
}

.insert_textarea{
    height: 300px;
}

.insert_radio_label{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #208FDD;
    opacity: 0.5;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.insert_radio_label:ed+label{
    opacity: 1;
}

.insert_radio_label:HOVER{
    opacity: 0.7;
}

.seats_ul,
.mode_ul,
.options_ul{
    width: 100%;
    height: 50px;
}

.seats{
    position: relative;
    width: 20%;
    height: 50px;
    float: left;
}

.mode{
    width: 14.286%;
    position: relative;
    height: 50%;
    float: left;
}

.option{
    width: 20%;
    position: relative;
    height: 50%;
    float: left;
}



.insert_radio:checked+label{
    opacity: 1;
}

.insert_radio:HOVER{
    opacity: 0.7;
}





#contact_options{
    position: fixed;
    bottom: 60px;
}

.result_contact_closed{
    height: 0;
    opacity: 0;
    overflow: hidden
}

.result_contact_open{
    height: auto;
    opacity: 1;
    overflow: auto;
}

.result_allowed_dog{
    background-image: url('/pix/icn_animal.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_animal");
}

.result_allowed_box{
    background-image: url('/pix/icn_box.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_box");
}

.result_allowed_smoking{
    background-image: url('/pix/icn_smoking.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_smoking");
}

.result_allowed_female{
    background-image: url('/pix/icn_female.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_female");
}

.result_allowed_male{
    background-image: url('/pix/icn_male.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_male");
}

.result_contact_button{
    background-image: url('/pix/icn_contact.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_contact");
}

.result_contact_close{
    background-image: url('/pix/icn_close.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_close");
}

.result_contact_tel{
    background-image: url('/pix/icn_tel.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_tel2");
}

.result_contact_sms{
    background-image: url('/pix/icn_sms.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_sms");
}

.result_contact_mailto{
    background-image: url('/pix/icn_mail.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_mail2");
}

.result_contact_facebook{
    background-image: url('/pix/icn_facebook.png');
}

.github{
    background-image: url('/pix/icn_github.png');
}

.result_contact_soundcloud{
    background-image: url('/pix/icn_soundcloud.png');
}

.mode_1{
    background-image: url('/pix/icn_car.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_car");
}

.mode_2{
    background-image: url('/pix/icn_motorbike.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_motorbike");
}

.mode_4{
    background-image: url('/pix/icn_bus.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_bus");
}

.mode_16{
    background-image: url('/pix/icn_train.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_train");
}

.mode_32{
    background-image: url('/pix/icn_truck.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_truck");
}

.mode_64{
    background-image: url('/pix/icn_boat.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_boat");
}

.mode_128{
    background-image: url('/pix/icn_plane.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_plain");
}

.seats_0{
    background-image: url('/pix/icn_seats_0.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_place0");
}

.seats_1{
    background-image: url('/pix/icn_seats_1.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_place1");
}

.seats_2{
    background-image: url('/pix/icn_seats_2.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_place2");
}

.seats_3{
    background-image: url('/pix/icn_seats_3.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_place3");
}

.seats_4{
    background-image: url('/pix/icn_seats_4.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_place4");
}

.badge_first100{
    background-image: url('/pix/icn_badge_first100.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_badge_first100");
}

.badge_first1000{
    background-image: url('/pix/icn_badge_first1000.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_badge_first1000");
}

.badge_offerd_rides{
    background-image: url('/pix/icn_myrides.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_myrides");
}

.badge_handshake{
    background-image: url('/pix/icn_badge_handshake.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_handshake");
}

.badge_shared{
    background-image: url('/pix/icn_badge_share.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_badge_shared");
}

.insert_price{
    background-image: url('/pix/icn_money.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_money");
}

.start_form_date,
.insert_date{
    background-image: url('/pix/icn_date.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_date");
}

.insert_tel{
    background-image: url('/pix/icn_phone.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_tel");
}

.insert_time{
    background-image: url('/pix/icn_time.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_time");
}

.insert_mail{
    background-image: url('/pix/icn_mail2.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_mail");
}

.insert_save{
    background-image: url('/pix/icn_save.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_save");
}

#insert_button_ride{
    background-image: url('/pix/icn_insert_ride.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_myrides2");
}

.menu_page{
   background-image: url('/pix/icn_menu.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_menu");
}

.menu_user{
    background-image: url('/pix/icn_user.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_user");
}

.menu_rides{
    background-image: url('/pix/icn_myrides.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_myrides");
}

.open_submenu{
    background-image: url('/pix/icn_close.png');
    background-image:
    linear-gradient(transparent, transparent)
    url("/pix/icons.svg#icn_close");
}

</style>
